<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="MonsterRate" value="0.7" />
        <add key="PlayerHP" value="30" />
        <add key="MonsterNb" value="2" />
        <add key="LocationsDescription" value="
            Vous entrez dans une caverne sombre... Vous n'y voyez rien hormis la lumière de votre torche,
            Vous arrivez dans une prairie. Tout semble calme mais vous restez sur vos gardes car vous êtes à découvert,
            Vous vous enfoncez dans la forêt. Vous entendez du bruit autour de vous. Il ne s'agit que du vent dans les feuilles et quelques annimaux... a moins que...,
            Vous tombez sur une ruine abandonnée. Du lierre et de la mousse recouvrent les murs
        " />
    </appSettings>
</configuration>